langchain
langchain-core
langchain-community
langchain-classic
langchain-ollama
langchain-openai
langchain-tavily
fastapi
uvicorn
streamlit
python-dotenv
pytest
google-genai
wikipedia
crewai
crewai-tools
ddgs
duckduckgo-search